/* VISUALS */

body {
    background-color: rgb(42, 43, 46);
    text-align: center;
}



/* TEXT */

h1 {
    color: #eb9d0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
} 

ul {
  color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    padding-left: 15%;
    padding-right: 15%;
}



/* LINKS */

a {
  color: #D0F1F1;
  font-size: 1em;
  transition-duration: 0.5s;
  transition-property: color;
}

a {
  color: rgb(150, 96, 212);
}