/* VISUALS */

body {
    background-color: rgb(42, 43, 46);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* TEXT */

h1 {
    color: #eb9d0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
} 

h2 {
    color:rgb(119, 211, 211);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#intro {
  font-size: 1.5em;
}

p {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
}



/* LINKS */

a:link {
    color:#D0F1F1;
  }

a:visited {
    color:#D0F1F1;
}
  
  a:hover {
    color:#263243;
    background-color:#D0F1F1;
    font-size: 2.5em;
  }
  
  a {
    border: 0.1em solid;
    padding: 0.3em;
    font-size: 2em;
    background-color:#263243;
    transition-duration: 0.5s;
    transition-property: font-size, color;
  }